* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(163, 73, 0);
    font-size: 1rem;
}

h1, h2 {
    color: rgb(163, 73, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 80%;
    padding: 20px;
    /* background-color: antiquewhite; */
    margin: 0 auto;
}

.recipe-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.recipe-box {
    background-color: antiquewhite;
    padding: 20px;
    border: solid 1px rgb(206, 171, 126);
    border-radius: 3px;
    text-align: center;
    width: 33%;
}

.recipe-box img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(163, 73, 0);
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.recipe-page-wrapper {
    margin: 20px auto;
    width: 80%;
    text-align: left;
}

.recipe-page-wrapper img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.recipe-page-wrapper h1, .recipe-page-wrapper h2 {
    padding: 5px 0;
}

.recipe-page-box {
    background-color: antiquewhite;
    padding: 20px;
    border: solid 1px rgb(206, 171, 126);
    border-radius: 3px;
}

ul, ol {
    padding: 10px 0;
}

li {
    padding: 5px 0;
    margin: 0 10px;
}

p {
    padding: 10px 0;
}

.spacer {
    margin: 20px 0;
}


@media only screen and (max-width: 768px) {
    .recipe-box {
        width: 100%;
    }
}
